@import './mixin';

body {
  @include wmh(100vw, 100vh);
}

img {
  @include wh(100%, 100%);
}

button {
  outline: none;
}

//******常用类******/
.clearfix {
  zoom: 1;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

// 定位上下左右居中
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.left {
  float: left;
}

.right {
  float: right;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
