@import '../../../styles/mixin.less';

.statisticsWrap {
  display: flex;
  width: 100%;
  padding: 12px 0;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(224, 224, 224, 0.5);
  > div {
    position: relative;
    flex: 1;
    max-width: 140px;
    text-align: center;
    > p {
      .sc(@txtSize, #686a6c);
      margin-bottom: 4px;
      font-weight: 600;
    }
    > span {
      .sc(32px, @titleColor);
    }
    .lineDom {
      position: absolute;
      top: 14px;
      right: 0;
      width: 1px;
      height: 55px;
      margin: 0;
    }
  }
}
